beautifulsoup4==4.12.3
chromadb==0.5.5
faiss-cp==faiss-cpu
langchain==0.2.16
langchain-openai==0.1.23
langchain-chroma==0.1.2
langchain-community==0.2.16
langchain-experimental==0.0.65
langchain-postgres==0.0.9
numexpr==2.10.1
numpy==1.26.4
openai==1.44.1
pandas==2.2.2
pgvector==0.2.5
psycopg==3.2.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
PyMuPDF==1.24.10
pypdf==4.3.1
PyPDF2==3.0.1
python-dotenv==0.21.0
scikit-learn==1.2.2
streamlit==1.38.0
SQLAlchemy==2.0.27
tiktoken==0.7.0
watchdog==5.0.2